.logo {
    margin-bottom: 1rem;
}

/* Logo size for mobiles */
.logo img {
    width: 100px;
}

/* Logo size for larger displays */
@media (min-width: 400px) {
    .logo img {
	width: 200px;
    }
}


.header {
  margin-top: 6rem;
  text-align: center;
}

h1 {
  margin-bottom: 3rem;
}

.footer {
  margin-top: 1rem;
  text-align: center;
}

.container {
    max-width: 800px;
}

ul li {
    list-style-position: outside;
    margin-left: 2rem;
}

li {
    margin-bottom: 0.5rem;
}
